<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog - @ViewData["PageName"]</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/lib/css/style.css" />
</head>
<body>
    <header id="header">
        <div id="nav">
            <div id="nav-top">
                <div class="container">
                    <ul class="nav-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>

                    <div class="nav-logo">
                        <a asp-action="Index" asp-controller="Home" class="logo"><img src="~/images/blogger-logo.jpg"></a>
                    </div>

                    <div class="nav-btns">
                        <button class="aside-btn"><i class="fa fa-bars"></i></button>
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                        <div id="nav-search">
                            <form>
                                <input class="input" name="search" placeholder="Tìm kiếm câu chuyện...">
                            </form>
                            <button class="nav-close search-close">
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nav-bottom">
                <div class="container">
                    <ul class="nav-menu">
                        <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                        <li class="has-dropdown">
                            <a href="#">Danh mục</a>
                        </li>
                        <li><a href="#">Câu truyện</a></li>
                        <li><a href="#">Chủ Blog</a></li>
                    </ul>
                </div>
            </div>

            <div id="nav-aside">
                <ul class="nav-aside-menu">
                    <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                    <li class="has-dropdown">
                        <a href="#">Danh mục</a>
                    </li>
                    <li><a href="#">Câu chuyện</a></li>
                    <li><a asp-action="About" asp-controller="Home">Chủ Blog</a></li>
                    <li><a href="#">Liên hệ quảng cáo</a></li>
                </ul>
                <button class="nav-close nav-aside-close"><span></span></button>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a asp-action="Index" asp-controller="Home" class="logo"><img src="~/images/blogger-logo.jpg"></a>
                        </div>
                        <ul class="contact-social">
                            <li><a href="#" class="social-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="social-google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="social-instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom row">
                <div class="col-md-6 col-md-push-6">
                    <ul class="footer-nav">
                        <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                        <li><a asp-action="About" asp-controller="Home">Chủ Blog</a></li>
                        <li><a asp-action="" asp-controller="Home">Liên hệ quảng cáo</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="footer-copyright">
                        Copyright ©
                        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/jquery.stellar.min.js"></script>
    <script src="~/lib/js/main.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>
</html>
